<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FaceTweet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="static/scripts/bootstrap-dropdown.js"></script>

   

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="/session/">FaceTweet</a>
          
          
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="/perfil/"> Perfil 
            <b class="caret"></b> 
            </a>
            <ul class="dropdown-menu">
				<li><a href="#">cambiar perfil</a></li>
            </ul>
          </div>
          
          
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/session/">Home</a></li>
              <li><a href="/users/">Usuarios</a></li>
              <li><a href="/logout/">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
       </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
		  <div class="well sidebar-nav">
            <h2>Hola, <a href="/users/{{user_tl.id}}">{{user_tl.name}}</a></h2>
            <img src="{{user_tl.gravatar_img}}" Width=50 height=50 border=2>
            <p>Que estas haciendo</p>
           
           <form id="form2" name="form2" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="/crear_post/">

							

							<label class="desc" id="title1" for="Field1">

							</label>

							<div>
							<textarea id="Field1" name="qtext" class="field textarea small" spellcheck="true" rows="3" cols="550" tabindex="1" onkeyup="validateRange(1, 'character');" >Publicar un nuevo FaceTweet ...</textarea>

							<label for="Field1">Must be between <var id="rangeMinMsg1">1</var> and <var id="rangeMaxMsg1">140</var> characters.&nbsp;&nbsp;&nbsp; <em class="currently">Currently Used: <var id="rangeUsedMsg1">31</var> characters.</em></label>
							
							</div>
				
							<div>

							<input id="saveForm" name="saveForm" class="btn btn-primary btn-large" type="submit" value="Publicar"/></div>


							
							</form> 
            
         </div>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Siguiendo({{count_sig}} )</li>
              <li class="nav-header">Seguidores( {{count_seg}} )</li>

            </ul>
          </div><!--/.well -->

        </div><!--/span-->
        <div class="span9">
        <div class="hero-unit">
			<h2>Tweets</h2>
          {%for lista in post_amigos%}
			<div class ="alert alert-info">
			  <img src="{{lista.1.1.gravatar_img}}" Width=50 height=50 border=2>  
			  <a href="/users/{{lista.1.1.id}}"><h3>{{lista.1.1}}</h3></a> 
			  <p>{{lista.1.0}}</p>
              <p>{{lista.0}}</p>
			</div>
          {%endfor%}
         </div> <!--/hero-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
-->

  </body>
</html>
