


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User List FaceTweet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="static/scripts/wufoo2.js"></script>
   

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/session/">FaceTweet</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Username
            </a>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
				<li><a href="/session/">Inicio</a></li>
              <li class="active"><a href="/users/">Usuarios</a></li>
              <li><a href="/Logout/">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid"> 
        </div><!--/span-->
       {% for lista in lista_usuarios %}
        <div class="span9">
          <div class="hero-unit">
			<form id="form2" name="form2"  method="post" action="/seguir/">
            <p>{{lista.name}} - {{lista.email}} -- {{lista.create_at}}
			<input id="saveForm" name="saveForm" class="btn btn-primary btn-large" type="submit" value="Seguir"/></p>      
			<input name="qid" type="hidden" value="{{lista.id}}" /> 
			</form>                      
          </div>
       
        </div><!--/span-->
      {% endfor %}
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Grupo5 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
-->

  </body>
</html>

	
	

